body
{
    background-image: url("bg.jpg");
}

.align-img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.align-center
{
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
    font-family: georgia;
}

.container 
{
    align-items: center; 
    float: left;
    margin-left: 60px;
    margin-right: 60px;
}

.image
{
    float: left;
    padding: 50px;
}

.size
{
    font-size: larger;
}

.color
{
    color: rgb(0, 0, 0);
    font-size: larger;
}

.border
{
    background-color: rgb(128, 99, 28);
    overflow-x: auto;
    width: 80%;
    height: auto;
    text-align: center;
    vertical-align: auto;
}

.button
{
    display: block;
    border-radius: 100px;
    color: rgb(0, 0, 0);
    background-color: cornflowerblue;
    width: 25%;
    text-align: center;
    font-size: larger;
    padding: 20px 30px;
}